@mixin wh($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($duration: 300ms, $target: all, $timefn: cubic-bezier(0.18, 0.63, 0.31, 0.86)) {
  transition: $duration $target $timefn;
  -webkit-transition: $duration $target $timefn;
  -moz-transition: $duration $target $timefn;
  -ms-transition: $duration $target $timefn;
  -o-transition: $duration $target $timefn;
}